#login-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.517), rgba(0, 0, 0, 0.605)),
  url('../../../assets/img/login-bg.jpeg');
  background-size: cover;
}

#login-bg::after {
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  z-index: 99;
}

.login-i-overlay {
  background:rgba(0, 0, 0, 0.731);
  width: 400px;
  height: 550px;
}

input {
  background-color: #333333;
  border: none;
}

::placeholder {
  color: lightgrey;
}

p span a {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

